* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none; /*quitar bullet points por defecto*/
}

/*HEADER*/
/*COLOR LETRAS*/
a {
    color:	#808080;
    text-decoration: none; /*eliminar el subrayado por defecto*/
}

.nav-menu li a:hover {
    background-color: #FEF7DC;
}

header{
    background-image: url(../images/header-background.jpeg);
    background-position: center;
    background-size: cover;
    padding: 80px 20px 50px 20px;
    padding-bottom: 20px;
}

.containerpadre {
    width:90%;
    margin:auto;
}

.menu {
    margin-top:50px;
    display: flex;
}

/*BARRA NAVEGACION*/
.nav-menu {
    font-size: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    padding: 10px;
    flex-grow: 2;
}

/*ELEMENTOS BARRA NAVEGACION*/
.nav-menu li {
    margin: 60px;
    display: flex;
}


/*ICONO FACEBOOK Y TWITTER*/
.facebook-icon:hover {
    background-color: #FEF7DC;
}

.twitter-icon:hover {
    background-color: #FEF7DC;
}

.right-side-iconos {
    padding: auto;
    padding-right: 100px;
}

/*DISFRUTA DE LA EXPERIENCIA...*/
.texto-principal {
    background-color: rgb(225, 232, 235, 0.7);
    padding: 70px;
    font-size: 300%;
    font-family: "Times New Roman";
    font-weight: bold;
    text-align: center;
    color: #FF96AD;
    opacity: 0.5;
}

/*MAIN*/
.left-side-container{
    background-image: url(../images/pink-flower.jpeg);
    background-size: cover;
    background-position: left;
    background-size: cover;
    padding: 200px;
    flex-grow: 1;
    margin: 0px 20px 0px 0px;
    background-color: rgb(225, 232, 235, 0.5);
}

.right-side-container {
    background-image: url(../images/orange-sunset.jpeg);
    background-size: cover;
    background-position: center;
    padding: 200px;
    flex-grow: 1;
    margin: 0px 0px 0px 20px;
    background-color: rgb(225, 232, 235, 0.5);   
}

.white-border{
    display: flex;
    flex-direction: row;
    margin: 20px 0px;
    padding: 15px;
    background-color: rgb(225, 232, 235);
}

.icon{
    margin-right:15px;
}