* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none; /*quitar bullet points por defecto*/
}

/*HEADER*/
/*COLOR LETRAS*/
a {
    color:	#808080;
    text-decoration: none; /*eliminar el subrayado por defecto*/
}

.nav-menu li a:hover {
    background-color: #FEF7DC;
}

header{
    background-image: url(../images/header-background.jpeg);
    background-position: center;
    background-size: cover;
    padding: 80px 20px 50px 20px;
    
}

.containerpadre {
    width:90%;
    margin:auto;
}

.menu {
    margin-top:50px;
    display: flex;
}

/*BARRA NAVEGACION*/
.nav-menu {
    font-size: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    padding: 10px;
    flex-grow: 2;
}

/*ELEMENTOS BARRA NAVEGACION*/
.nav-menu li {
    margin: 60px;
    display: flex;
}


/*ICONO FACEBOOK Y TWITTER*/
.facebook-icon:hover {
    background-color: #FEF7DC;
}

.twitter-icon:hover {
    background-color: #FEF7DC;
}

.right-side-iconos {
    padding: auto;
    padding-right: 100px;
}

/*DISFRUTA DE LA EXPERIENCIA...*/
.texto-principal {
    background-color: rgb(225, 232, 235, 0.7);
    padding: 70px;
    font-size: 300%;
    font-family: "Times New Roman";
    font-weight: bold;
    text-align: center;
    color: #FF96AD;
    opacity: 0.5;
}

/*MAIN*/
.left-side-container{
    background-image: url(../images/pink-flower.jpeg);
    background-size: cover;
    background-position: left;
    background-size: cover;
    padding: 200px;
    flex-grow: 1;
    margin: 0px 20px 0px 0px;
    background-color: rgb(225, 232, 235, 0.5);
}

.right-side-container {
    background-image: url(../images/orange-sunset.jpeg);
    background-size: cover;
    background-position: center;
    padding: 200px;
    flex-grow: 1;
    background-color: rgb(225, 232, 235, 0.5);   
}

.white-border{
    display: flex;
    flex-direction: row;
    margin: 20px 0px;
    padding: 15px;
    background-color: rgb(225, 232, 235);
}

.icon{
    margin-right:15px;
}

/*ARTICLE*/
.article-box {
    background-color: rgb(225, 232, 235, 0.7);
    padding: 20px;
    padding-left: 15px;
}

.yellow-dress-image {
    background-image: url(../images/yellow-dress.jpeg);
    padding: 180px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50%;
    /*ALLOW THE CHILD TO MOVE WITHIN THE PARENT*/
    position: relative;
}

.date {
    width: 100%;
    padding: 20px;
    font-size: 130%;
    text-align: initial;
    color:rgb(225, 232, 235);
    position: absolute;
    bottom: 10%;
    left: 0%;
}

.footer-cultura {
    background: rgb(223, 94, 94);
    color:rgb(225, 232, 235);
    font-size: 130%;
    padding: 30px;
    width: 100%;
    /*SEND TO THE BOTTOM*/
    position: absolute;
    bottom: 0%;
    left: 0%;
}

.cultura-letras{
    width: 95%;
    position: absolute;
    bottom: 0%;
    left: 1%;
    font-weight: bold;
    font-size: 180%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.latin-text {
    padding: 30px;
    color: rgb(23, 23, 23);
    font-size: 150%;
    font-family: "verdana";
}

.leer-mas{
   padding: 5px;
   margin: 20px; 
   color: grey;
   font-size: 150%;
   font-family: "verdana";
}

.leer-mas:hover{
    background-color: #FEF7DC;
}



/*COPIADO DE NIVELL 1*/

/* TABLET */
@media (min-width: 576px) and (max-width: 991px){
    .section {
        flex-direction: column;      
    }

    .articulos {
        border-color:palegoldenrod;
    }

    .aside {
        border:20px solid palegoldenrod;
        border-top: 0px;
    }
}

/* MOBILE */
@media only screen and (max-width: 575px){
    .menu {
        flex-direction: column;
    }

    .container-amarillo {
        padding: 10px;
        margin: 10px;
    }
    .section {
        flex-direction: column;      
    }

    .article-linea{
        flex-direction: column;
    }

    .article-blau-hijo { 
        margin: 10px;
    }

    .hijo2 {
        margin-bottom:0px;
    }

    .navegacion {
        margin: 10px;
        margin-top: 20px;
    }

    .articulos {
        border-color:gold;
    }

    .aside{
        background-color: peru;
        border: 20px solid gold;
        border-top:0px;
    }

    .publicidad{
        background-color: orangered;
        margin: 30px;
        margin-bottom: 15px;
    }

    .under{
        margin: 30px;
        margin-top: 0px;
    }
}